* {
	font-family: 'Lato', Arial, sans-serif;
}
body {
	background-color: #0099FF;
}
div {
	margin: auto;
	margin-top: 50px;
	background-color: white;
	width: 400px;
	height: 200px;
	border-radius: 5px;
	text-align: center;
}
div:hover {
	border: 1px solid blue;
}
img {
	width: 100px;
	margin: auto;
}
p {
	color: #0099FF;
	padding: 5px;
}
a {
	color: #0099FF;
	text-decoration: none;
}
