* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', Arial, sans-serif;
}
body {
	margin-bottom: 40px;
}
.section {
	z-index: -1;
}
.section:first-child {
	background: url(../images/victoria.jpg) no-repeat;
	background-size: 100% 100%;
}
.section:nth-child(2) {
	background-color: #0099FF;
}
.section:nth-child(3) {
	background: url(../images/sublime.png);
	background-position: 0 0;
}
.section.topped {
	margin-top: 45px;
}
#header {
	background-color: white;
	color: blue;
	height: 90px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	margin-top: 18%;
	float: left;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#header.topped {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 0;
	float: none;
}
#header li {
	margin: auto;
	display: inline;
	color: #0099FF;
	padding: 0.5em;
}
#header li:nth-child(3), li:nth-child(5) {
	font-size: 38px;
}
#header li:nth-child(4) {
	margin-right: -70px;
	margin-left: -70px
}
#header img {
	width: 110px;
	border-radius: 55px 55px 55px 55px;
	margin-top: -18px;
}
#contents {
	/*width: 100%;
	height: 2000px;
	display: -webkit-flex;
	display: flex;*/
}
#contents div {
	background-color: white;
	color: #0099FF;
	width: 600px;
	margin: auto;
}
#contents div h1 {
	padding-left: 10px;
	height: 60px;
	border-bottom: 2px solid #0099FF;
}
#contents div p {
	padding: 5px;
	padding-bottom: 20px;
}
a {
	text-decoration: none;
}
a:visited {
	color: #0099FF;
}
a:hover {
	text-decoration: underline;
}
i {
	padding-right: 3px;
}
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 40px;
}
footer ul {
	width: 250px;
	margin: 0 auto;
	color: white;
	padding: 0;
}
footer li {
	display: inline;
	padding: 0.75em;
}
footer li a:visited {
	color: white;
}
