body {
  background-color: #222;
  font-family: 'Anonymous Pro';
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: text;
}

.play-print {
  cursor: pointer;
}

.output {
  display: none;
}

section {
  padding: 0 0 0 2%;
  height: 100%;
  float: left;
}

hr {
  margin-right: 20px;
}

#left {
  width: 25%;
  min-width: 25%;
}

#right {
  border-left: 1px solid white;
  width: 70%;
  min-height: 980px;
}

a, a:visited {
  color: cornflowerblue;
}

#name {
  font-size: 20px;
}

.cli .green {
  color: green;
}

.cli .red {
  color: red;
}

.vim > span {
  color: red;
}

.cli > span.blink {
  color: white;
}

p {
  margin: 0;
  color: white;
}

td {
  padding: 0 1em 0 0;
}

.tab {
  padding-left: 2em;
}

.double-tab {
  padding-left: 4em ;
}

.blink {
  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@media print {
  body {
    margin-top: 5%;
    background-color: #fff !important;
    color: black !important;
    line-height: 120%;
  }

  .play-print {
    display: none;
  }

  a.play-print {
    display: initial;
  }

  a.play-print[href]:after {
    display: none;
  }

  #name {
    font-size: 20px;
    color: black;
  }

  .cli .green {
    color: #333;
  }

  .cli .red {
    color: #444;
  }

  .vim > span {
    color: #333;
  }

  .tab, .double-tab, .summary {
    color: white;
  }

  p, .vim, p span, a, a:visited {
    text-decoration: none;
    color: black;
  }

  a[href]:after {
    font-size: 10px;
    content: " (" attr(href) ")";
  }
}
